{% extends 'base.html.twig' %}

{% block content %}
    <h1>Cheapest routes for the next 7 days</h1>
    <table>
        <thead>
        <tr>
            <th>date</th>
            <th>transport</th>
            <th>departure</th>
            <th>arrival</th>
            <th>duration</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route.date }}</td>
                    <td>{{ route.transport }}</td>
                    <td>{{ route.departure }}</td>
                    <td>{{ route.arrival }}</td>
                    <td>{{ route.duration }}</td>
                    <td>{{ route.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}